@charset "utf-8";


img#int{
    display: block;
    width:80%;
    margin-left: auto;
    margin-right: auto;
}


h2{
    background-color: grey;
    padding: .5em;
}

nav>ul{
    margin-top: -10px;
}

.amen>li{
    margin-left: 4em;
}

article>img{
    border: 1em solid white;
    box-shadow: 0 0 0 1px black;
}
